<div class="login_box">
  <form
    nz-form
    [formGroup]="validateForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="请先输入用户名">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="userName"
            placeholder="输入用户名"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="请先输入密码">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="输入密码"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot"
          >forgot password</a
        >
        <button nz-button class="login-form-button" [nzType]="'primary'">
          Log in
        </button>
        Or
        <a (click)="register()">register now!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
