<nz-layout class="left-layout">
  <nz-sider>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li
        nz-submenu
        *ngFor="let menu of datalist"
        nzTitle="{{ menu.title }}"
        nzIcon="bars"
      >
        <ul>
          <li
            nz-menu-item
            *ngFor="let list of menu.value"
            (click)="addTab(list.event, list.url)"
          >
            <i nz-icon nzType="file"></i>
            <span>{{ list.event }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <nz-tabset
          [nzType]="'card'"
          [nzSelectedIndex]="index"
          [nzTabPosition]="left"
        >
          <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
              <div (click)="currentTab(tab)">
                {{ tab }}
                <i
                  nz-icon
                  nzType="close"
                  class="ant-tabs-close-x"
                  (click)="closeTab(tab)"
                ></i>
              </div>
            </ng-template>

            <!-- 渲染标签内容 start -->
            <router-outlet></router-outlet>
            <!-- 渲染标签内容 end -->
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
