<nz-layout>
  <nz-header>
    <div nz-row>
      <!-- logo start -->
      <div nz-col nzSpan="4">
        <div class="logo"></div>
      </div>
      <!-- logo end -->

      <!-- 导航选项 start -->
      <div nz-col nzSpan="14" style="text-align: right">
        <nz-breadcrumb nzSeparator="|">
          <nz-breadcrumb-item>
            <a [routerLink]="['/home/index']">工作台</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a [routerLink]="['/home/official']">公文管理</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a [routerLink]="['/home/supervise']">督查督办PT</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
      <!-- 导航选项 end -->

      <!-- 图标列 start -->
      <div nz-col nzSpan="6" class="log_out">
        <span nz-col nzSpan="15" class="user_name">{{ username }}，欢迎您</span>

        <span nz-col nzSpan="3" [ngSwitch]="IconType">
          <i
            nz-icon
            *ngSwitchCase="1"
            nzType="fullscreen"
            nzTheme="outline"
            (click)="fullscreen()"
          ></i>
          <i
            nz-icon
            *ngSwitchCase="2"
            nzType="fullscreen-exit"
            nzTheme="outline"
            (click)="fullscreen()"
          ></i>
        </span>
        <span nz-col nzSpan="3">
          <i nz-icon nzType="message" nzTheme="outline"></i>
        </span>
        <span nz-col nzSpan="3"
          ><i nz-icon nzType="poweroff" nzTheme="outline" (click)="exit()"></i
        ></span>
      </div>
    </div>
    <!-- 图标列 end -->
  </nz-header>

  <!-- 内容展示区域 start-->
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <!-- 内容展示区域 end-->
</nz-layout>
