<nz-layout>
  <nz-header>
    <div nz-row>
      <div nz-col nzSpan="4">
        <div class="logo"></div>
      </div>
      <div nz-col nzSpan="16" style="text-align: right">
        <nz-breadcrumb nzSeparator="|">
          <nz-breadcrumb-item>
            <a>工作台</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a>公文管理</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a>督查督办PT</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
      <div nz-col nzSpan="4" class="log_out">
        <div>欢迎您{{username}}</div>
        <i nz-icon nzType="poweroff" nzTheme="outline" (click)="exit()"></i></div>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
