nz-header {
  height: 64px;
}

nz-content {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}

nz-breadcrumb {
  margin: 0;
  font-size: 16px;
}

nz-breadcrumb-item a {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 1);
  margin: 16px 30px 16px 0;
  float: left;
  color: #ffffff;
}

.header-menu {
  line-height: 64px;
}

.inner-layout {
  padding: 0 24px 24px;
}

.ant-layout-header {
  background-color: brown;
}

.ant-breadcrumb-separator {
  margin: 0 8px;
  color: #ffffff;
}

.log_out {
  text-align: right;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* .inner-content {
  background-color: #ffffff;
  min-height: 280px;
} */

.ant-breadcrumb {
  line-height: 64px;
}

.user_name {
  color: darkorange;
  font-size: 18px;
  margin-left: 46%;
  text-decoration: underline;
}

.anticon {
  margin-right: 10px;
}

.ant-modal-confirm .ant-modal-confirm-btns {
  float: left;
  display: flex;
  justify-content: center;
}
